<ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/images/logo/logo.png"></ion-img> 
   <p>Bienvenue sur LearnLoop
    , où les fins scolaires ouvrent des portes 
    au partage du savoir, transformant manuels
     et notes en clés du succès futur au sein d'une
     communaut
    é engagée dans l'éco-apprentissage.</p>
    <br><br>
    <ion-button (click)='goToLogin()'>Get started!</ion-button>
 
</ion-content>
