h1 {
    font-size:50px;
    

}
ion-content{
    font-family: cursive;
    font-size: 20px;
}
.forgetpassword-btn{
    --background: #3690D1; 
    --color: white; 
    font-weight: bold; 
    border-radius: 20px;
    font-size: 25px;   
    font-family: cursive;

 }