

<ion-content class="ion-padding">
  <br><br><br>
 <ion-text > 
  <h1>Forgot Password </h1>
 </ion-text>
 <br><br><br>
 <ion-text>
  <p class="forget-password" >Please enter your email address. You will receive a link to create a new password  via email.</p>
</ion-text>
  <form #forgetpasswordForm="ngForm" (ngSubmit)="submitForm(forgetpasswordForm.value)">

    <ion-input class='input' label="Email" label-placement="floating"  fill="outline" placeholder="Enter Email"></ion-input>
  </form>

  <br>
 
<br><br>
<ion-button class="forgetpassword-btn" type="submit" expand="block" [disabled]="!forgetpasswordForm.valid">Send</ion-button>


</ion-content>

