ion-title{
    font-size:30px;
}
ion-card{
    width:250px;
    height:330px;
    margin-left:90px
}
ion-card-title{
    font-size: 30px;
}
ion-badge{
    margin-left: 20px;
}
ion-item{
    font-size:20px
}