<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>document-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-card *ngIf="id">
    <ion-card-header>
      <ion-card-title>{{ books.find(book => book.id === id)?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Prix:</ion-label>
        <ion-text>{{ books.find(book => book.id === id)?.prix }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
</ion-content>
