<ion-header [translucent]="true"  >
  <ion-toolbar >
    <ion-buttons slot="start">
     
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-text> <b>Choisir niveau d'éducation:</b></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  *ngIf="isAuthenticated" >
  <div class="centered">


   <ion-card  style="display: flex; align-items: center;" *ngFor="let level of educationLevels" (click)="goToEducationLevel(level.route)">
    <ion-card-title style="flex: 1;">{{ level.title }}</ion-card-title>
    <img [alt]="level.title" [src]="level.image" />
  </ion-card> 
 
</div>
</ion-content>
