ion-item
{
    height: 90px
}
ion-card{
    height:260px;
    width: 190px;
    font-size: 24px;    
}
ion-col{
    margin-right:24px
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }