<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Découvrir des articles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centered">


    <ion-card   *ngFor="let book of books" (click)="viewDetails()">
      <img [alt]="book.title" [src]="book.image" /> 
      <!-- <ion-button slot="end" (click)="likeBook(book.title)">
        <ion-icon name="heart"></ion-icon>
      </ion-button> 
      <br> -->
    
     <ion-text >{{ book.title }}</ion-text> <br>
     <ion-text>{{book.prix}}</ion-text> <br>
    
     <ion-text>{{book.etat}}</ion-text> <br>
     <ion-text>{{book.description}}    </ion-text>
     
   </ion-card> 
  
 </div>


  
</ion-content>
